.admin-layout {
  height: 100vh;
  width: 100%;
  display: flex;
}

.sidebar {
  border-right: 1px solid #33496d;
  background-color: rgb(1, 1, 44);
  top: 0%;
  left: 0%;
  height: 100vh;
  width: 3%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  z-index: 999;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  transition: width 1s ease-in-out;

}



.sidebar.showSidebar {
  width: 10%;
}


.logo {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
}



.menu {

  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  gap: 3%;

  font-family: Arial, Helvetica, sans-serif;



}

.btnnor {
  background-color: rgb(1, 1, 44);
  width: 100%;

  padding: 8px 14px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;

  color: white;

  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  display: flex;
  align-items: end;
  align-content: center;

}



span {
  height: 100%;
  display: flex;
  color: white;
  opacity: 0;
}

.MyPlatform_Admin {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  color: rgb(81, 113, 253);
  opacity: 0;
  font-size: 18px;
  font-weight: 700;
}

.showtext {
  opacity: 1;

}


.btnnor:hover {
  background-color: rgb(1, 1, 80)
}

.homeset {
  width: 25px;
  height: 25px;
  margin-right: 8px;
}




/* Admin info */
.admin-info {
  width: 5%;
}


/* Main */
.main {

  padding: 25px;
  overflow-y: auto;
  width: 100%;
}




.admin-dashboard {
  padding: 20px;
  font-family: Arial, sans-serif;
}


.custom-tabs {

  background-color: rgb(1, 1, 44);

  border-radius: 10px;
  padding: 10px;

  height: 80%;


}

::ng-deep .mat-mdc-tab-header-pagination-chevron {
  background-color: white !important;
  font-size: 20px;
}



::ng-deep .mat-mdc-tab .mdc-tab__text-label {
  color: var(--mat-sys-primary-container) !important;
  font-size: 17px !important;

}

::ng-deep .custom-tabs .mat-mdc-tab:hover {
  background-color: rgba(0, 0, 85, 0.808) !important;
  border-radius: 20px;
}


::ng-deep .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
  color: blue !important;
  font-size: 18px !important;
  width: 100%;
}






section {
  overflow-x: hidden;
  display: block;
  unicode-bidi: isolate;
  height: 100%;
  padding: 10%;

}



::ng-deep .custom-tabs[_ngcontent-ng-c2953896801] {
  height: 100% !important;


}

@media (max-width: 650px) {

  section {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10%;
  }


  .stats[_ngcontent-ng-c2953896801][_ngcontent-ng-c2953896801] {
    display: flex;
    flex-direction: column;
  }
}

.stats[_ngcontent-ng-c2953896801] {
  height: 100%;

  display: flex;
  flex-direction: column;
}


.stats[_ngcontent-ng-c2953896801] {
  display: grid;
  grid-column: auto;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 25px;
  height: 100%;
}

::ng-deep .mat-mdc-table {
  background: transparent  !important;
}

::ng-deep .mat-mdc-header-row .mdc-data-table__header-row .cdk-header-row {
  /* background: transparent !important;
   */

   background-color: red !important;
}


.pending {
  color: #008f1f !important;
  opacity: 1;
}

::ng-deep .blogOrUser {
    height: 100%;
    display: flex;
    color: rgb(255, 255, 255) !important;
    opacity: 1 !important;
    
}
.tab-content {
  padding: 20px;

  border-radius: 6px;
  margin-top: 10px;
}

.tab-content h2 {
  margin-top: 0;
  color: #008f1f;
}

.tab-content table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.tab-content table,
th,
td {
  border: 1px solid #ccc;
}

.tab-content th,
td {
  padding: 8px;
  text-align: left;
}

.tab-content th {
  background-color: #f5f5f5;
}




/* Topbar */
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.topbar h1 {
  font-size: 24px;
}

.top-actions {
  display: flex;
  gap: 15px;
}

/* Stats */
.stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 25px;
  height: 100%;

}

.stat-card {
  background: #020617;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #1e293b;
}

.stat-title {
  font-size: 14px;
  color: #94a3b8;
}

.stat-value {
  font-size: 26px;
  font-weight: bold;
  margin-top: 10px;
}

.stat-value.danger {
  color: #ef4444;
}




/* Content */
.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.card {
  background: #020617;
  border-radius: 12px;
  padding: 20px;
  border: 1px solid #1e293b;
}

.card h2 {
  margin-bottom: 15px;
  font-size: 18px;
}

/* Tables */
table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  color: #94a3b8;
  border-bottom: 1px solid #1e293b;
  background-color: #008f1f;
}

.theadtable {
  background: transparent !important;
  border-bottom: 1px solid white;

}

.reason {
  color: white !important;
}
tr:not(:first-child):hover {
  background: #020617;
}

/* Status colors */
.active {
  color: #22c55e;
  font-weight: bold;
}

.banned {
  color: #ef4444;
  font-weight: bold;
}

.visible {
  color: #22c55e;
  font-weight: bold;
}

.hidden {
  color: #facc15;
  font-weight: bold;
}

/* Scrollbar */
.main::-webkit-scrollbar {
  width: 8px;
}

.main::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 10px;
}