<div class="admin-layout">

  <aside class="sidebar" [class.showSidebar]="show" (mouseenter)="show = true" (mouseleave)="show = false">

    <div class="logo">
      <button class="btnnor" (click)="DashBoard()">
        <img *ngIf="!show" class="homeset" src="./../../assets/sidebaropen.png" alt="">
        <img *ngIf="show" class="homeset" src="./../../assets/sidebarclose.png" alt="">
        <span [class.showtext]="show"> DashBoard </span>
      </button>
    </div>

    <nav class="menu">
      <button class="btnnor" (click)="goToHome()">
        <img class="homeset" src="./../../assets/home.svg" alt=""> <span [class.showtext]="show"> Home</span>
      </button>

      <button class="btnnor" (click)="goToMyProfile()">
        <img class="homeset" src="./../../assets/adminn.png" alt=""> <span [class.showtext]="show"> Admin </span>
      </button>

    </nav>
  </aside>


  <main class="main">

    <header class="topbar">
      <h1>MyPlatform Admin</h1>
      <div class="top-actions">
        <div class="notif">🔔</div>
        <div class="profile">Admin</div>
      </div>
    </header>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>