.blog {
    background-color: rgb(1, 1, 44);
    position: fixed;
    top: 15%;
    left: -25%;
    height: 80vh;
    width: 50%;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    opacity: 0;
    transition: left 1s ease-in-out, opacity 1s ease-in-out; 
    display: flex;
    flex-direction: column;
    overflow-y: auto; 
    padding: 0px 5px;
    z-index: 999999999;
}


.blog::-webkit-scrollbar {
  width: 4px;
}

.blog::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.blog::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.6);
  border-radius: 10px;

  border: 2px solid transparent;
}

.blog::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.9);
}



.blog.showBlog {
    left:1%;  
    opacity: 1; 
}

.blur-overlay {
    position: fixed;
    inset: 0; 
    background: rgba(0, 8, 56, 0.24); 
    backdrop-filter: blur(0.3px);
    -webkit-backdrop-filter: blur(6px);
    z-index: -99999999999999999999999999999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0s ease;
}

.blur-overlay.show {
    opacity: 1;
}

.blogheader {

    height: auto;
    position: sticky;
    top: 0;                 
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;

    
    background-color: red;
    background-color: rgb(1, 1, 44);

    padding: 10px;

}
.blogheader_left {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 15%;
    height: 100%;
}

.blogheader_left_right {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 50%;
    height: 70%;
    cursor: pointer;
}

.blogheader_left_right .creat-by {
    font-size: 18px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}


.blogheader_left_right .creat-at {
    font-size: 15px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;

    text-align: start;
    color: gray;
}


.blogheader_right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    height: 100%;
}

.blogheader_right-left  {
    width: 50%;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: space-evenly;

}

.blogheader_right-left span {
    font-size: 35px;
    font-weight: 1000;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
.imgskip {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.imgskip:hover {
    width: 43px;
    height: 43px;
    cursor: pointer;

}

.imguser {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
}

.imguser:hover {
    width: 43px;
    height: 43px;
}


.card {
    width: 100%;
    background-color: rgb(1, 1, 44);
    height: auto;
    padding: 10px;

}

.titleAndDiscription {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 10px;
    padding-right: 10px;
}

.titleAndDiscription .title {
    margin: 0;
    color: rgb(147, 128, 255);
    font-size: 25px;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0%;
}


.titleAndDiscription .divcontent {
    width: 100%;
    display: flex;
    overflow: visible; 
    overflow-y: hidden;
}

.titleAndDiscription .divcontent .content {
    padding: 0;
    margin: 0;
    color: white;
    font-size: 22px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;

    flex-direction: column;
    display: inline;
    text-align: start;
}
/* 
.titleAndDiscription .divcontent .bigcontent {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
} */

.read-more {
  color: rgb(100, 149, 237);
  font-weight: bold;
  font-size: 15px;
  width: 100px;
  white-space: nowrap;
  display: none; 
  align-items: flex-end;
  cursor: pointer;
}

.read-more.bigcontent {
    color: rgb(100, 149, 237);
    font-weight: bold;
    font-size: 15px;
    width: 100px;
    white-space: nowrap;
    align-items: flex-end;
    cursor: pointer;
    display: inline-flex;
}

.read-more:hover {
  color: rgb(0, 80, 228);
  font-size: 14px;
}

.read-less {
    cursor: pointer;
    color: rgb(100, 149, 237);
    font-weight: bold;
    font-size: 15px;
    align-items: flex-end;
    white-space: nowrap;
}
.biggr {
    display: flex;
}

.theMedia {
  width: 100%;
  height: 50vh;         
  margin: 0 auto;        
  overflow: hidden;      
  border-radius: 10px;   
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.realimg {
  width: 90%;
  height:95%;
  border-radius: 10px;
  display: block;       
  object-fit: cover;    
  transition: transform 0.3s ease;
}

.realimg:hover {
  transform: scale(1.00);
}

.iconnext {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}


.iconnext:hover {
    width: 65px;
    height: 65px;
}

.blogbotoomLikeComment {

}


.blogbotoom {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}



.blogbotoom button {
    width: 33%;
    
    margin: auto;
    background-color: transparent; 
    
    color: azure;

    font-size: 17px;
    font-weight: 600;
}


.blogbotoom button span {

    display: flex;
    justify-content: space-between;

    padding-right: 10px;
}
.blogbotoom button span span {
    color: rgb(182, 182, 182);
}


.divComment {
    /* background-color: red; */
    border-top: 2px solid  rgb(3, 3, 95);
    margin-top: 10px;
}

.commenttitle {
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: start;
    padding: 10px;
    color: white;
}

.commenttitle  span{
    padding-left: 10px;

    color: rgb(182, 182, 182);

    font-size: 18px;
    font-weight: 600;


}


.commentuser {
    /* background-color: aqua; */
    margin-top: 10px;
}

.example-form {
  width: 100%;
  background-color: red !important;
}

.example-full-width {
  width: 100%;
  color : red !important;

  
}



.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.input {
  background-color: aqua;
}

.example-full-width {
  width: 100%;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: red;
}