<div class="blogdiv">

  <ng-container *ngIf="blog$ | async as blog">
    
    <div class="blog">

         <div class="blogheader">
          <div class="blogheader_left">

             <img (click)="goToProfile(blog?.createdByUsername)"  class="imguser"
                    *ngIf="blog.createdByUrlimg?.length > 0; else nophotouser"
                    [src]="baseUrl +  blog?.createdByUrlimg"
                    alt=""
                  >
                  
              
                  <ng-template #nophotouser>
                    <img class="imguser" src="./../../assets/blank-profile-picture-973460_640.webp" alt="">
                  </ng-template>
              

            <div class="blogheader_left_right">
              <p class="creat-by" (click)="goToProfile(blog?.createdByUsername)"> {{ blog?.createdByUsername }} </p>
              <p class="creat-at">18h</p>
            </div>
          </div>

          <div class="blogheader_right">
            <mat-icon class="imgskip">report</mat-icon>

          </div>
        </div>

          <div class="card">
            <div class="titleAndDiscription">
              <p class="title"> {{ blog?.title }} </p>
      
              <div class="divcontent">
                <p class="content">
                  {{
                  AllTheDiscription
                  ? blog?.content
                  : (blog?.content | slice:0:30)
                  }}
                  
                  <span class="read-more" (click)="toggleDescription()" *ngIf="blog?.content?.length > 30">
                    {{ AllTheDiscription ? '... Read less' : '... Read more' }}
                  </span>
                </p>
              </div>
      
              
              <div class="theMedia">
                
                <mat-icon class="big-mat-icon" >arrow_left</mat-icon>
                <img class="realimg" src="../../assets/bmwg.jpg" alt="">
                <mat-icon class="big-mat-icon" >arrow_right</mat-icon>

             </div>
      
              <div class="blogbotoom">
      
               
               
                <button mat-fab extended (click)="toggleLike()" class="liked">
                  <span>
                    <img
                      class="buttonheart"
                      [src]="blog?.liked 
                        ? './../../assets/heart.png' 
                        : './../../assets/heart2.png'"
                      alt=""
                    />
                    Like {{ blog?.numbLiked }}
                  </span>
                </button>
                
                <button mat-fab extended (click)="toggleSave()">
                  <mat-icon>
                    {{ blog?.saved ? 'bookmark_added' : 'bookmark_border' }}
                  </mat-icon>
                  <span>
                    {{ blog?.saved ? 'Saved' : 'Save' }}
                  </span>
                </button>
      
              </div>  

          </div>
          
          
        </div>
        <app-comment></app-comment>
        
  

</div>