<div class="blog" [class.showBlog]="ui.showBlog()" >

  <div class="blogheader">

    <div class="blogheader_left">
      <img class="imguser" src="./../../assets/book1.jpg" alt="">
      <div class="blogheader_left_right">

        <p class="creat-by" > {{ ui.selectedBlog()?.createdByUsername }} </p>
        <p class="creat-at">18h</p>

      </div>
    </div>

    <div class="blogheader_right">
      <img class="imgskip" (click)="ui.closeBlog()" src="./../../assets/images/close.svg" alt="">
    </div>

  </div>

  <div class="card">


    <div class="titleAndDiscription">
      <p class="title"> {{ ui.selectedBlog()?.title }} </p>
      <div class="divcontent">
        <p class="content" *ngIf="!AllTheDiscription"> {{ ui.selectedBlog()?.content | slice:0:30 }} </p>
        <p class="content" *ngIf="AllTheDiscription" (click)="showLess()"> {{ ui.selectedBlog()?.content }} <span class="read-less" *ngIf="ui.bigContent()">...less</span> </p>
        <span class="read-more"  [class.bigcontent]="ui.bigContent()" *ngIf="!AllTheDiscription"  (click)="showAllTheDiscription()">
          ...Read more
        </span>

      </div>
    </div>

    <div class="theMedia">
      <img class="realimg" src="../../assets/bmwg.jpg" alt="">
      <img class="iconnext" src="../../assets/next2.png" alt="">
    </div>
    
    <div class="blogbotoom">
      <button>

      </button>
      <button>

      </button>
      <button>

      </button>
    </div>
  </div>


  <div class="blur-overlay" [class.show]="ui.showBlog()"></div> 

</div>
