.blogdiv {


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    overflow-y: auto; 
    margin-top: 30px;

    margin-bottom: 100px;

  }
  
  .blog {
    background-color: rgb(1, 1, 44);
   

    height: 85vh;
    width: 70%;

    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    
    


}


.blogdiv::-webkit-scrollbar {
  width: 4px;
}

.blogdiv::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.blogdiv::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.6);
  border-radius: 10px;

  border: 2px solid transparent;
}

.blogdiv::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.9);
}





.blogheader {

    border-radius: 20px;


    position: sticky;
    top: 0;                 
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;

    padding: 10px;
    background-color: rgb(1, 1, 44);


}

.blogheader_left {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 15%;
    height: 100%;
}

.blogheader_left_right {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 50%;
    height: 70%;
    cursor: pointer;
}

.blogheader_left_right .creat-by {
    font-size: 18px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}


.blogheader_left_right .creat-at {
    font-size: 15px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    margin: 0%;
    text-align: start;
    color: gray;
}


.blogheader_right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    height: 100%;
}

.blogheader_right-left  {
    width: 50%;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: space-evenly;

}

.blogheader_right-left span {
    font-size: 35px;
    font-weight: 1000;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
.imgskip {
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: 30px;
}

.imgskip:hover {
    width: 43px;
    height: 43px;
}

.imguser {
    cursor: pointer;
    width: 45px;
    height: 45px;
    border-radius: 20px;
}

.imguser:hover {
    width: 47px;
    height: 47px;
}


.card {
    width: 100%;
    background-color: rgb(1, 1, 44);
    height: auto;
    padding: 10px;


    border-radius: 20px;



}

.titleAndDiscription {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 10px;
    padding-right: 10px;
}

.titleAndDiscription .title {
    margin: 0;
    color: rgb(147, 128, 255);
    font-size: 25px;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0%;
}


.titleAndDiscription .divcontent {
    width: 100%;
    overflow: visible; 
    overflow-y: hidden;
}

.titleAndDiscription .divcontent .content {
    padding: 0;
    margin: 0;
    color: white;
    font-size: 22px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: start;
}


.read-more {
  color: rgb(100, 149, 237);
  font-weight: bold;
  font-size: 15px;
  width: 100px;
   
  cursor: pointer;
}

.read-more.bigcontent {
    color: rgb(100, 149, 237);
    font-weight: bold;
    font-size: 15px;
    width: 100px;

    white-space: nowrap;

    align-items: flex-end;
    cursor: pointer;
    /* display: inline-flex; */
}

.read-more:hover {
  color: rgb(0, 80, 228);
  font-size: 14px;
}



.theMedia {
  width: 90%;
  height: 50vh;         
  margin: 0 auto;        
  overflow: hidden;      
  border-radius: 10px;   
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  /* background-color: red; */
}

.realimg {
  width: 80%;
  height:95%;
  border-radius: 10px;
  display: block;       
  object-fit: cover;    
  transition: transform 0.3s ease;
}

.realimg:hover {
  width: 81%;
  height:96%;
}

.arrow {
  padding: 10px;


  border-radius: 20px;

  font-size: 20px;
  color: aliceblue;
  font-weight: 500;
}


.big-mat-icon {
  font-size: 50px;
  width: 50px;
  height: 50px;
  color: aliceblue;

  border-radius: 15px;
}


.big-mat-icon:hover {
  background-color: #042c38;
}



.buttonheart {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}


.liked {
  display: flex;
}



.blogbotoom {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: auto;
    
    margin-top: 15px;
    border-radius: 25px;
    border: 2px solid  rgba(0,0,0,0.2);
}



.blogbotoom button {
    width: 43%;
    padding: 20px;
    margin: auto;
    background-color: transparent; 
    color: azure;
    height: auto;
    font-size: 17px;
    font-weight: 600;
    box-shadow: none;
}


.blogbotoom button span {

    display: flex;
    justify-content: space-between;

    padding-right: 10px;
}

.blogbotoom button span span {
    color: rgb(182, 182, 182);
}
