.blogdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    margin-top: 30px;
    /* margin-bottom: 100px; */
    cursor: pointer;
    user-select: none;
}

.blog {

    background-color: rgb(1, 24, 36);
    height: 85vh;
    width: 65%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}


.blogdiv::-webkit-scrollbar {
    width: 4px;
}

.blogdiv::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
    background-color: rgb(1, 24, 36);

    border-radius: 10px;
}

.blogdiv::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10px;

    border: 2px solid transparent;
}

.blogdiv::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.9);
}





.blogheader {
    border-radius: 20px;
    position: sticky;
    top: 0;
    z-index: 6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    padding: 10px;
    background-color: rgb(1, 24, 36);

}

.blogheader_left {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 15%;
    height: 100%;
}

.blogheader_left_right {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 50%;
    height: 70%;
    cursor: pointer;
}

.blogheader_left_right .creat-by {
    font-size: 18px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}


.blogheader_left_right .creat-at {
    font-size: 15px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    margin: 0%;
    text-align: start;
    color: gray;
}


.blogheader_right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    height: 100%;
}

.blogheader_right-left {
    width: 50%;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: space-evenly;

}

.blogheader_right-left span {
    font-size: 35px;
    font-weight: 1000;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.imgskip {
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: 30px;
}

.imgskip:hover {
    width: 43px;
    height: 43px;
}

.imguser {
    cursor: pointer;
    width: 45px;
    height: 45px;
    border-radius: 20px;

    object-fit: cover;
    filter: brightness(1) contrast(1);
}

.imguser:hover {
    width: 47px;
    height: 47px;
}


.card {
    width: 100%;
    height: auto;
    background-color: rgb(1, 24, 36);

    padding: 10px;
}

.titleAndDiscription {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 10px;
    padding-right: 10px;
}

.titleAndDiscription .title {
    margin: 0;
    user-select: none;

    color: rgb(147, 128, 255);
    font-size: 18px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0%;
}


.titleAndDiscription .divcontent {
    width: 100%;
    user-select: none;
    overflow: visible;
    overflow-y: hidden;
}

.titleAndDiscription .divcontent .content {
    padding: 0;
    margin: 0;
    color: white;
    font-size: 16px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: start;
}


.read-more {
    color: rgb(100, 149, 237);
    font-weight: bold;
    font-size: 15px;
    width: 100px;

    cursor: pointer;
}

.read-more.bigcontent {
    color: rgb(100, 149, 237);
    font-weight: bold;
    font-size: 15px;
    width: 100px;

    white-space: nowrap;

    align-items: flex-end;
    cursor: pointer;
    /* display: inline-flex; */
}

.read-more:hover {
    color: rgb(0, 80, 228);
    font-size: 14px;
}



.theMedia {
    width: 90%;
    height: 50vh;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.divVideo {
    position: relative;
    width: 80%;
    height: 95%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.thevideo {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: block;
    object-fit: cover;
    transition: transform 0.3s ease;
}


.theNoMedia {
    width: 50%;
    height: 30vh;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.noContent {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
    height: 100%;
}

.noContent-img {
    width: 30%;
    height: 30%;
}

.noContent-text {
    font-size: 24px;
    font-weight: 700;
    color: gray;
}

.noContent-subtext {
    font-size: 20px;
    font-weight: 500;
    color: gray;
}

.realimg {
    color: gray;
    width: 55%;
    height: 95%;
    border-radius: 10px;
    display: block;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.realimg:hover {
    width: 56%;
    height: 96%;
}



.arrow {
    padding: 10px;


    border-radius: 20px;

    font-size: 20px;
    color: aliceblue;
    font-weight: 500;
}


.big-mat-icon {
    font-size: 50px;
    width: 50px;
    height: 50px;
    color: aliceblue;
    border-radius: 15px;
}


.big-mat-iconbtn {
    font-size: 50px;
    width: 50px;
    height: 50px;
    color: aliceblue;
    border-radius: 15px;
    opacity: 0;
}

.big-mat-iconbtn.showicon {
    opacity: 1;
}


.big-mat-icon:hover {
    background-color: #042c38;
}

.styleimgs {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.styleimgs span {
    width: 5px;
    height: 6px;
    background: #ccc;
    border-radius: 5px;
    transition: 0.3s;
}

.styleimgs span.active {
    background: rgb(0, 124, 196);
    width: 25px;
}


.play-icon {
    position: absolute;
    top: 45%;
    left: 45%;
    z-index: 4;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    pointer-events: none;
}


.buttonheart {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}


.liked {
    display: flex;
}



.blogbotoom {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: auto;
    margin-top: 15px;
    border-radius: 25px;
    border: 2px solid rgba(0, 0, 0, 0.2);
}



.blogbotoom button {
    width: 43%;
    padding: 20px;
    margin: auto;
    background-color: transparent;
    color: azure;
    height: auto;
    font-size: 17px;
    font-weight: 600;
    box-shadow: none;
}


.blogbotoom button span {

    display: flex;
    justify-content: space-between;

    padding-right: 10px;
}

.blogbotoom button span span {
    color: rgb(182, 182, 182);
}



@media (max-width: 1600px) {
    .blogheader_left {
        width: 18%;
    }

    .realimg {
        width: 60%;
    }


    .realimg:hover {
        width: 61%;
    }

    .divVideo {
        position: relative;
        width: 70%;
        height: 85%;
    }


    .thevideo {
        width: 90%;
        height: 90%;
    }


    .titleAndDiscription .title {
        font-size: 20px;
    }

    .titleAndDiscription .divcontent .content {
        font-size: 18px;
    }
}

@media (max-width: 1300px) {


    .blogheader_left {
        width: 22%;
        cursor: pointer;
        user-select: none;
    }

    .blog {
        width: 75%;
    }

    .realimg {
        width: 65%;
        height: 80%;
    }


    .realimg:hover {
        width: 66%;
        height: 81%;
    }

}

@media (max-width: 1100px) {

    .blogheader_left {
        width: 22%;
        cursor: pointer;
        user-select: none;
    }

    .blog {
        width: 85%;
        height: 90vh;

        overflow-y: auto;
    }

    .realimg {
        width: 70%;
        height: 80%;
    }


    .realimg:hover {
        width: 71%;
        height: 81%;
    }


    .divVideo {
        position: relative;
        width: 75%;
        height: 85%;
    }


    .thevideo {
        width: 95%;
        height: 90%;
    }

    .titleAndDiscription .title {
        font-size: 18px;
    }

    .titleAndDiscription .divcontent .content {
        font-size: 16px;
    }

}

@media (max-width: 900px) {


    .blog {
        width: 90%;
    }

    .blogheader_left {
        width: 25%;
        cursor: pointer;
        user-select: none;
    }



    .realimg {
        width: 80%;
        height: 80%;
    }


    .realimg:hover {
        width: 81%;
        height: 81%;
    }


    .divVideo {
        position: relative;
        width: 85%;
        height: 80%;
    }


    .thevideo {
        width: 100%;
        height: 85%;
    }

    .titleAndDiscription .title {
        font-size: 16px;
        max-width: 80%;
        word-wrap: break-word;
        text-align: start;
    }

    .titleAndDiscription .divcontent .content {
        font-size: 14px;
        max-width: 90%;
        word-wrap: break-word;
        text-align: start;

    }

}



@media (max-width: 700px) {

    .blog {
        width: 95%;
    }

    .blogheader_left {
        width: 30%;
        cursor: pointer;
        user-select: none;
    }



    .realimg {
        width: 75%;
        height: 66%;
    }


    .realimg:hover {
        width: 76%;
        height: 67%;
    }



    .titleAndDiscription .title {
        font-size: 16px;

    }

    .titleAndDiscription .divcontent .content {
        font-size: 14px;
    }

}

@media (max-width: 660px) {

    .blog {
        width: 100%;
    }

    .blogbotoom button {
        padding: 15px;
    }


    .titleAndDiscription .title {
        font-size: 15px;
        font-size: 15px;
        font-weight: 500;
    }

    .titleAndDiscription .divcontent .content {
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    .blogheader_left {
        width: 35%;
        cursor: pointer;
        user-select: none;
    }
}

