<div class="notificationsList">
    <ng-container *ngIf="Notification$ | async as Notification">
        <ng-container *ngIf="Notification.length > 0 ; else noContent">

            <div class="headernf">

                <div class="first_header">
                    <span class="theimg">
                        <img class="homeset" src="../../assets/images/notification-icon.png" alt="">
                    </span>
                    <h2 class="title">Notifications</h2>
                </div>
                <div class="lastin_header">
                    <mat-icon class="imgskip" [matMenuTriggerFor]="statusMenu"> menu </mat-icon>
                    <mat-menu #statusMenu="matMenu">
                        <div>
                            <button mat-menu-item (click)="makeAllAsRead()"> <mat-icon class="mark_as_read"> mark_email_read </mat-icon> All as
                                Read
                            </button>
                            <button mat-menu-item (click)="deleteAll()"> <mat-icon class="delete_all">delete</mat-icon>
                                Delete All
                            </button>
                        </div>
                    </mat-menu>
                </div>
            </div>

            <div class="Notification" *ngFor="let Notification of Notification; trackBy: trackById"
                [class.active_Ntf]="Notification.active">

                <mat-card-content *ngIf="Notification.type === 'LIKE'">
                    <div class="cartfirst">
                        <span class="icons">
                            <mat-icon>favorite</mat-icon>
                        </span>
                        <div class="inside_cart">
                            <p> <span class="causativeUser_id" (click)="goToProfile(Notification.causativeUser_id ,Notification.id)">
                                    {{ Notification.causativeUser_id }}</span><span class="message"> {{
                                    Notification.message }} </span>
                                <span class="intended_Blog_title" (click)="showTheBlog(Notification.intended_Blog_id ,Notification.id)">
                                    {{ Notification.intended_Blog_title | slice:0:6 }}
                                </span>
                            </p>
                            <span class="time">
                                {{ timeis(Notification.creat_at)}}
                            </span>
                        </div>
                    </div>

                    <div class="rmnf">
                        <button class="remove-btn" type="button"
                            (click)="deleteNotification(Notification.id)">✕</button>
                    </div>

                </mat-card-content>


                <mat-card-content *ngIf="Notification.type === 'COMMENT'">

                    <div class="cartfirst">
                        <span class="icons">
                            <mat-icon>comment</mat-icon>
                        </span>

                        <div class="inside_cart">
                            <p> <span class="causativeUser_id" (click)="goToProfile(Notification.causativeUser_id ,Notification.id)">
                                    {{ Notification.causativeUser_id }}</span><span class="message"> {{
                                    Notification.message }} </span>
                                <span class="intended_Blog_title" (click)="showTheBlog(Notification.intended_Blog_id ,Notification.id )">
                                    {{ Notification.intended_Blog_title | slice:0:6 }}
                                </span>
                            </p>

                            <span class="time">
                                {{ timeis(Notification.creat_at)}}
                            </span>
                        </div>
                    </div>

                    <div class="rmnf">
                        <button class="remove-btn" type="button"
                            (click)="deleteNotification(Notification.id)">✕</button>
                    </div>

                </mat-card-content>


                <mat-card-content *ngIf="Notification.type === 'FOLLOW'">

                    <div class="cartfirst">
                        <span class="icons">
                            <mat-icon>person_add</mat-icon>
                        </span>

                        <div class="inside_cart">
                            <p> <span class="causativeUser_id" (click)="goToProfile(Notification.causativeUser_id ,Notification.id)">
                                    {{ Notification.causativeUser_id }}</span><span class="message"> {{
                                    Notification.message }} </span></p>

                            <span class="time">
                                {{ timeis(Notification.creat_at)}}
                            </span>
                        </div>
                    </div>

                    <div class="rmnf">
                        <button class="remove-btn" type="button"
                            (click)="deleteNotification(Notification.id)">✕</button>
                    </div>
                </mat-card-content>

                <mat-card-content *ngIf="Notification.type === 'REPORTEDBLOG'">

                    <div class="cartfirst">
                        <span class="icons_report">
                            <mat-icon>report</mat-icon>
                        </span>

                        <div class="inside_cart">
                            <p> <span class="message"> {{ Notification.message }} </span>
                                <span class="intended_Blog_title" (click)="showTheBlog(Notification.intended_Blog_id ,Notification.id )">
                                    {{ Notification.intended_Blog_title |
                                    slice:0:6 }} </span>
                            </p>

                            <span class="time">
                                {{ timeis(Notification.creat_at)}}
                            </span>
                        </div>
                    </div>

                    <div class="rmnf">
                        <button class="remove-btn" type="button"
                            (click)="deleteNotification(Notification.id)">✕</button>
                    </div>

                </mat-card-content>

                <mat-card-content *ngIf="Notification.type === 'REPORTEDACCOUNT'">

                    <div class="cartfirst">
                        <span class="icons_report">
                            <mat-icon>report</mat-icon>
                        </span>

                        <div class="inside_cart">
                            <p>
                                <span class="message"> {{ Notification.message }} </span>
                            </p>

                            <span class="time">
                                {{ timeis(Notification.creat_at)}}
                            </span>
                        </div>
                    </div>

                    <div class="rmnf">
                        <button class="remove-btn" type="button"
                            (click)="deleteNotification(Notification.id)">✕</button>
                    </div>

                </mat-card-content>

                <mat-card-content *ngIf="Notification.type === 'BLOGHIDDEN'">
                    <div class="cartfirst">
                        <span class="icons_report">
                            <mat-icon>flag</mat-icon>
                        </span>

                        <div class="inside_cart">
                            <p><span class="message">Your blog
                                    <span class="intended_Blog_title"
                                        (click)="showTheBlog(Notification.intended_Blog_id ,Notification.id )"> {{
                                        Notification.intended_Blog_title | slice:0:6 }} </span>
                                    {{ Notification.message }}
                                </span></p>
                            <span class="time">
                                {{ timeis(Notification.creat_at)}}
                            </span>
                        </div>
                    </div>

                    <div class="rmnf">
                        <button class="remove-btn" type="button"
                            (click)="deleteNotification(Notification.id)">✕</button>
                    </div>


                </mat-card-content>

            </div>
        </ng-container>
    </ng-container>
    <div observeIntersection (visible)="loadNotification()" class="observer"></div>

    <ng-template #noContent>
        <div class="noContent">
            <img class="noContent-img" src="./../../assets/empty-notification2.webp" alt="">
        </div>
    </ng-template>

</div>

<!-- 

(username) started following you

(username) liked your blog  “{blogTitle}”

(username) commented on your blog “{blogTitle}”

Your account has been reported.

Your blog “{blogTitle}” has been reported.

Your blog “{blogTitle}” has been hidden by an admin.

You are banned from this platform. You can't perform any actions.
-->