<div class="create-blog-container">
  <div class="divCreatblog">


    <h2>Create New Blog</h2>


    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="form-group">

        <mat-form-field class="example-full-width">
          <mat-label>Enter blog title</mat-label>
          <input matInput maxlength="50" formControlName="title">
        </mat-form-field>

      </div>

      <div class="form-group mb-5">
        <!-- <textarea class="the-content" formControlName="content" placeholder="Write your blog content..."
          maxlength="1000" rows="3"></textarea> -->

        <mat-form-field class="example-full-width">
          <mat-label>Write your blog content</mat-label>
          <textarea maxlength="2000" rows="3" matInput formControlName="content"></textarea>
        </mat-form-field>

      </div>




      <div class="form-group-media">
        <div class="selectmedia">
          <label for="media">Upload (1 to 5 files)</label>
          <div class="selectmedia-divimgs">
            <input class="selectmedia-input" type="file" id="media" multiple accept="image/*,video/*"
              (change)="onFileSelected($event)" />
            <label for="media" class="selectmedia-label">
              <span>Select images or videos</span>
              <img src="./../../assets/images/image.svg" alt="Select media" />
            </label>
          </div>
        </div>

        <div class="preview" *ngIf="!ModeEditblog">
          <div class="preview-item" *ngFor="let item of files; let i = index">
            <img *ngIf="item.type === 'IMAGE'" [src]="item.url" />
            <video *ngIf="item.type === 'VIDEO'" [src]="item.url" controls></video>
            <button class="remove-btn" type="button" (click)="removeFile(i)">✕</button>
          </div>
        </div>

        <div class="preview" *ngIf="ModeEditblog">
          <div class="preview-item" *ngFor="let item of imgsandvids; let i = index">
            <img *ngIf="item.type === 'IMAGE'" [src]=" baseUrl + item.url" />
            <video *ngIf="item.type === 'VIDEO'" [src]=" baseUrl + item.url" controls></video>
            <button class="remove-btn" type="button" (click)="removeFileBlog(i)">✕</button>
          </div>


          <div class="preview-item" *ngFor="let item of files; let i = index">
            <img *ngIf="item.type === 'IMAGE'" [src]="item.url" />
            <video *ngIf="item.type === 'VIDEO'" [src]="item.url" controls></video>
            <button class="remove-btn" type="button" (click)="removeFile(i)">✕</button>
          </div>
        </div>

      </div>

      <div class="form-actions">
        <span *ngIf="isSubmitting">Uploading...</span>
        <button type="submit" *ngIf="!ModeEditblog" class="botnpub btn btn-primary" [disabled]="form.invalid || this.isSubmitting">
          Publish Blog
        </button>

        <button type="submit"  *ngIf="ModeEditblog" class="botnpub btn btn-primary" [disabled]="form.invalid || this.isSubmitting">
          Edit Blog
        </button>

        <div class="divclearandcancel">

          <button mat-raised-button class="Cancel" (click)="clearForm()">
            <mat-icon class="tohome"> cancel_schedule_send</mat-icon>
            clear
          </button>

          <button mat-raised-button class="Cancel" *ngIf="!ModeEditblog" routerLink="/home">
            <mat-icon class="tohome"> home </mat-icon>
            Go Back
          </button>

          <button mat-raised-button class="Cancel" (click)="goback()" *ngIf="ModeEditblog">
            <mat-icon class="tohome"> home </mat-icon>
            Go Back
          </button>
        </div>
      </div>
    </form>

  </div>
</div>