.pop-up_search {
    height: 90vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 5px;

}



.message {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}

.message p {
    color: #e0e0e0;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding: 0%;
}

.message .closebtn {
    font-size: 30px;
}

.message span {
    background-color: rgba(1, 53, 95, 0.781);
    width: 50px;
    border-radius: 10px;
}

.search-box {
    width: 40%;
    display: flex;
    justify-content: center;
}

.search-field {
    width: 100%;

}

.mat-mdc-form-field {
    border-radius: 16px;
}

.mat-mdc-text-field-wrapper.mdc-text-field--focused {
    box-shadow: 0 0 0 3px rgba(43, 140, 255, 0.25);
}

input {
    font-size: 15px;
    color: aliceblue !important;
    border-radius: 20px !important;
}

mat-icon {
    color: #2b8cff;
}

.mat-mdc-form-field,
.mat-mdc-text-field-wrapper {
    transition: all 0.25s ease-in-out;
}

.choose {
    width: 100%;
    display: flex;


    justify-content: center;
    gap: 20px;

    padding: 5px;

}


.btnmatang {


    font-size: 16px;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    border-radius: 0;

    color: aliceblue !important;

    background-color: rgba(0, 0, 255, 0) !important;

    border-radius: 8px;

    padding: 5px !important;

    width: 100px;

    cursor: pointer;
}


.btnmatang:hover {
    color: blue !important;

}

.btnmatangchoose {
    border-bottom: 1px solid blue;
    color: rgb(0, 0, 255) !important;
}


.blogs{
    width: 90%;
}