.post-list {
  width: 100%;

  margin-top: 15px;

  overflow-y: auto;
  height: 90vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}


.profile-style {
  height: 65vh;
}



.post-list::-webkit-scrollbar {
  width: 4px;
}

.post-list::-webkit-scrollbar-track {
  border-radius: 10px;
}

.post-list::-webkit-scrollbar-thumb {
  background: rgb(1, 94, 122);
  border-radius: 10px;

  border: 2px solid transparent;
}

.post-list::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.9);
}

.blogsforuser {

  width: 50%;

}




.profile-blogsforuser-style {
  width: 80%;
}


.noContent {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10%;
  height: 100%;
}


.noContent-img {
  width: 50%;
  height: 50%;
}


.noContent-text {
  font-size: 24px;
  font-weight: 700;
}

.noContent-subtext {
  font-size: 20px;
  font-weight: 500;
}


.observer {
  height: 2px;
  width: 100%;
  background-color: red;
  margin-bottom: 40px;
}



.post-header {
  width: 60%;
  height: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: end;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid rgb(0, 0, 0);
  padding-bottom: 3px;
}


.commentuserbbottom {
  color: gray;
  margin-top: 15px;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}


.commentuserbbottom span {
  margin-left: 10px;
}