.RegisterComponent {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(11, 13, 31);
}


.book {
  width: 50%;
  height: 70vh;
  background-image: url('../../assets/img3.jpg');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
  display: flex;                 
  justify-content: flex-end;      
  align-items: center;       
  border-radius: 8px;
  padding-right: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
}

.book .formregister {
  position: relative;
  width: 50%;
  height: 80%;
  background-color: rgba(32, 27, 27, 0.603);
  /* background-color: rgba(214, 214, 214, 0.26); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  border-radius: 20px;
  overflow: hidden;
  /* display: none; */
}

.form-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 2;
  animation: fadeOut 2s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

.formregister > *:not(.form-overlay) {
  position: relative;
  z-index: 3;
  opacity: 0;
  animation: showContent 2s forwards;
  animation-delay: 0.8s;
}

@keyframes showContent {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.formregister h2 {
  text-align: center;
  color: aliceblue;
  font-size: 40px;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
}

.input-group {
  display: flex;
  justify-content: center;
}

.input-group input {
  width: 80%;
  border: none;                
  border-bottom: 2px solid #fff; 
  background: transparent;      
  padding: 8px 0;                
  color: #fff;                  
  font-size: 18px;
  outline: none;                 
  transition: border-color 0.3s;
  text-align: center;
}

.input-group  input:focus , .input-group1 input:focus {
  border-bottom-color: #00bfff;
}


.input-group1  {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-group1 input {
  width: 80%;
  border: none;                
  border-bottom: 2px solid #fff; 
  background: transparent;      
  padding: 8px 0;                
  color: #fff;                  
  font-size: 18px;
  outline: none;                 
  transition: border-color 0.3s;
  margin-right: 5px;
  margin-left: 5px;
  text-align: center;
}

.btn-SignUp {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  height: 40px;
}

.SignUp {
  width: 30%;
  border-radius: 8px;
  background-color: #0f275a;
  font-size: 16px;
  color: aliceblue;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
}

.SignUp:hover {
  background-color: #00bfff;
}


.forlogin {
  color: aliceblue;
  display: flex;
  justify-content: center;
}




.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  user-select: none;
  font-size: 18px;
}


.circle {
  width: 40px;         
  height: 20px;          
  border-radius: 50%;      
  display: flex;
  border-top: #ffffff solid;
  justify-content: center;
  align-items: center;
    position: relative;  
}



.circle2 {
  width: 10px;         
  height: 6px;          
  border-radius: 50%;      
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: #ffffff;
  border-top: #ffffff;
  background-color: #ffffff;
  margin-bottom: 5px;
}


.line-container {
  position: absolute;
  top: 0;           
  left: 25%;        
  width: 75%;      
  height: 2px;
  background-color: #ffffff;
  transform: rotate(30deg);
  transform-origin: top left; 
}

.line-container.active {  
  width: 0%;  
}

.forloginbtn {
  color: #00bfff;
  border-bottom: solid #00bfff 0.5px;
}

.forloginbtn:hover {
  color: #5b6ccc;
  border-bottom: solid #5b6ccc 0.5px;
}


/*
this is for login
*/

.book .formlogin {
  position: relative;
  width: 50%;
  height: 80%;
  background-color: rgba(32, 27, 27, 0.603);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  gap: 20px;
  display: none;
  overflow: hidden;
}

.form-overlay1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 2;
  animation: fadeOut 2s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

.formlogin > *:not(.form-overlay1) {
  position: relative;
  z-index: 3;
  opacity: 0;
  animation: showContent1 2s forwards;
  animation-delay: 0.8s;
}

@keyframes showContent1 {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.formlogin h2 {
  text-align: center;
  color: aliceblue;
  font-size: 40px;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
}

.input-group5 {
  display: flex;
  justify-content: center;
}

.input-group5 input {
  width: 80%;
  border: none;                
  border-bottom: 2px solid #fff; 
  background: transparent;      
  padding: 8px 0;                
  color: #fff;                  
  font-size: 18px;
  outline: none;                 
  transition: border-color 0.3s;
  text-align: center;
}

.input-group5  input:focus {
  border-bottom-color: #00bfff;
}



.btn-SignUp1 {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  height: 40px;
}

.SignUp1 {
  width: 30%;
  border-radius: 8px;
  background-color: #0f275a;
  font-size: 16px;
  color: aliceblue;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
}

.SignUp1:hover {
  background-color: #00bfff;
}


.forlogin1 {
  color: aliceblue;
  display: flex;
  justify-content: center;
}




.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  user-select: none;
  font-size: 18px;
}


.circle4 {
  width: 30px;         
  height: 20px;          
  border-radius: 50%;      
  display: flex;
  border-top: #ffffff solid;
  justify-content: center;
  align-items: center;
  position: relative;
  /* background-color: red; */
  top: -10%;
  left: 80%; 
  
}



.circle5 {
  width: 10px;         
  height: 6px;          
  border-radius: 50%;      
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: #ffffff;
  border-top: #ffffff;
  background-color: #ffffff;
  margin-bottom: 5px;
}



.line-container1 {
  position: absolute;
  top: 0;           
  left: 25%;        
  width: 75%;      
  height: 2px;
  background-color: #ffffff;
  transform: rotate(30deg);
  transform-origin: top left; 
}

.line-container1.active {  
  width: 0%;  
}
