.RegisterComponent {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(60%);
  z-index: -20;
}


.RegisterComponent .book {
  width: 50%;
  height: 75vh;
  display: flex;
  justify-content: flex-end;
  border-radius: 8px;
  padding-right: 5%;
  border-radius: 8px;
}



.formregister {
  position: relative;
  width: 85%;
  height: 88%;
  background-color: rgba(32, 27, 27, 0.603);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  border-radius: 20px;
  overflow: hidden;
  margin-right: 5%;
}

.formregister > *:not(.form-overlay) {
  position: relative;
  z-index: 3;
  opacity: 0;
  animation: showContent 1s forwards;
  animation-delay: 0.8s;
}

@keyframes showContent {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}


@media (max-width: 2000px){
    .RegisterComponent .book {
      width: 50%;
      height: 90vh;
    }

}

@media (max-width: 1199px) and (min-width: 992px) {
  .RegisterComponent .book {
    width: 60%;
    height: 85vh;
  }

  .formregister {
    width: 90%;
    height: 88%;
  }
}

/* 📱 Tablets landscape (768px to 991px) */
@media (max-width: 991px) and (min-width: 768px) {
  .RegisterComponent .book {
    width: 68%;
    height: 85vh;
    display: flex;
    justify-content: flex-end;
    padding-right: 5%;
   
  }

  .formregister {
    position: relative;
    width: 90%;
    height: 88%;
    background-color: rgba(32, 27, 27, 0.603);
    gap: 20px;
    margin-right: 5%;
  }
}

/* 📱 Tablets portrait / large phones (576px to 767px) */
@media (max-width: 767px) and (min-width: 620px) {
   .RegisterComponent .book {
    width: 88%;
    height: 85vh;
    border-radius: 8px;
    padding-right: 5%;
    border-radius: 8px;
  }

  .formregister {
    width: 90%;
    height: 88%;
    gap: 20px;
    border-radius: 20px;
    margin-right: 5%;
  }
}

/* 📱 Mobile phones (up to 575px) */
@media (max-width: 619px) {
   .RegisterComponent .book {
    width: 95%;
    height: 86vh;
    justify-content: flex-end;
    padding-right: 5%;
    border-radius: 8px;
  }

  .formregister {
    width: 90%;
    height: 80vh;
    gap: 20px;
    border-radius: 20px;
    margin-right: 5%;
  }
}

/* 📱 Small mobile phones (up to 400px) */
@media (max-width: 450px) {
   .RegisterComponent .book {
    width: 100%;
    height: 70vh;
    border-radius: 8px;
    border-radius: 8px;
    margin: 0%;
    padding: 0%;
    margin-left: 10px;
    margin-right: 0%;
  }

  .formregister {
    width: 100%;
    height: 100%;
    background-color: rgba(32, 27, 27, 0.603);
    gap: 20px;
    border-radius: 20px;
  }
}



@media (max-width: 375px) {
  /* styles for iPhone SE and similar small screens */
   .RegisterComponent .book {
    width: 100%;
    height: 75vh;
  }
}
