<div class="setting" [class.expanded]="show" (mouseenter)="show = true" (mouseleave)="show = false">
  <div class="setting-item">
    <button class="btnnor" (click)="home()">
      <img class="homeset" src="./../../assets/home.svg" alt=""> <span> Home</span>
    </button>

    <button class="btnnor" (click)="SearchForAll()">
      <img class="homeset" src="./../../assets/images/search.svg" alt=""> <span> Search</span>
    </button>

    <button class="btnnor" (click)="profile()">
      <img class="homeset" src="./../../assets/images/user.svg" alt=""> Profile
    </button>

    <button class="btnnor" (click)="savedBlog()">
      <img class="homeset" src="./../../assets/saved.webp" alt=""> Saved
    </button>

    <button class="btnnor" (click)="getUsers()">
      <img class="homeset" src="../../assets/images/users.svg" alt=""> Users
    </button>

    <button class="btnnor">
      <img class="homeset" src="../../assets/images/notification-icon.png" alt=""> Notification
    </button>

    <button class="btnnor" (click)="logout()">
      <img class="homeset" src="../../assets/images/arrow-left.svg" alt=""> Log out
    </button>

    @if (show) {
    <button class="delete-account" *ngIf="showDelete" (click)="deleteAccount()">
      <img class="homeset" src="../../assets/deleteaccount.png" alt=""> Delete Account
    </button>
    }

    <button class="btnnor" *ngIf="!showDelete" (click)="pageAdmin()">
      <img class="homeset" src="./../../assets/adminn.png" alt=""> <span> Admin </span>
    </button>

  </div>
</div>