<div class="nav">
  <div class="imgtitle">
    <img src="../../assets/img4.jpeg" class="book">
  </div>
  <div class="title">
    <p>Welcome to 01-blog</p>
  </div>


  @if (isHome()) {


    <div class="rightnavbar"> 

    <div class="search-compact" >
      <input type="search" id="compact" placeholder="Search for somethings..." />
      <button >Search</button>
    </div>
    
    <div class="divNotification">
      <img class="imgsing" src="../../assets/notification2.png" alt=""> 
      <img class="imgsing" src="../../assets/images/notification-icon.png" alt="">
      <img class="notification1" src="../../assets/night-mode.png" alt=""> 
      <img class="notification notificationsetting" (click)="toggleSettings()"  src="../../assets/images/hideMenu.svg" alt="">
      @if (showSettings) {
        <app-setting></app-setting>
      }
    </div>

  </div>



  }


    @if (isRoot()) {

      <div class="button-account" class="rightnavbarnoregister" >
  
          <button type="button" class="btn btn-primary">
            <a class="navbar-brand" href="/account">Get Started
              <img class="imgsing" src="../../assets/images/user.svg" alt="">
            </a>
          </button>
  
      </div>
    }

 
</div>

