.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  color: white;
  padding-left: 10%;
  padding-right: 10%;
  border-bottom: 0.5px solid black;
  background-color: rgb(1, 24, 36);
}

.accent {
  color: #0080bb;
  font-size: 21px;
  font-family: "Merriweather", "Open Sans", serif;
  font-weight: bolder;
  margin-left: 5px;
}


.imgtitle {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgtitle p {
  padding: 0;
  font-size: 20px;
  font-family: "Merriweather", "Open Sans", serif;
  font-weight: bolder;
}

.book {
  position: absolute;
  top: 10%;
  width: 60px;
  left: 12%;
  transform: translateX(50%);
  animation: fall 1.5s ease-in forwards;
  border-radius: 10px;
}

@keyframes fall {
  0% {
    top: -150px;
    transform: translateX(-50%) rotate(0deg);
  }

  80% {
    top: 1vh;
    transform: translateX(-50%) rotate(15deg);
  }

  100% {
    top: 2vh;
    transform: translateX(-50%) rotate(0deg);
  }
}



.rightnavbar {
  width: 70%;
  display: flex;
  justify-content: end;
  align-items: center;
  height: 100%;
  gap: 30px;


}


.rightnavbar .notification {
  margin-left: 20px;
  margin-right: 20px;
}

.rightnavbarnoregister {
  width: 50%;
  display: flex;
  justify-content: end;
  align-items: center;
  height: 100%;
}

.btn {
  background-color: #135777;
  color: #fff;
}



.Creat-Blog {
  background: linear-gradient(90deg, #2b8cff, #6ea8ff);
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
}

.Creat-Blog:hover {
  background: linear-gradient(90deg, #6ea8ff, #2b8cff);
}

.plus-blog {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.plus-blogsml {
  display: none;
}

.imgsing {
  width: 28px;
  height: 28px;
  border-radius: 10px;

  margin-left: 5px;
}


.notification1 {
  width: 30px;
  height: 30px;
  background-color: aliceblue;
  border-radius: 10px;
}


.notificationsetting {
  width: 40px;
  height: 40px;
}





@media (max-width: 1230px) {

  .rightnavbar {
    width: 60%;

  }

  .imgtitle {
    width: 35%;
  }

  .rightnavbarnoregister {
    width: 40%;

  }
}


@media (max-width: 1100px) {


  .rightnavbar {
    width: 55%;

  }

  .imgtitle {
    width: 45%;
  }

  .rightnavbarnoregister {
    width: 35%;

  }
}

@media (max-width: 800px) {


  .rightnavbar {
    width: 50%;

  }

  .imgtitle {
    width: 50%;
  }

  .rightnavbarnoregister {
    width: 30%;

  }


  .Creat-Blog {
    font-size: 15px;
    font-weight: 500;
  }

  .nav {
    padding-right: 0%;
  }

}

@media (max-width: 680px) {
  .rightnavbar {
    width: 70%;

  }

  .imgtitle {
    width: 30%;
  }

  .rightnavbarnoregister {
    width: 30%;

  }

  .hidden {
    display: none;
  }
}


@media (max-width: 500px) {


  .plus-blogsml {
    display: block;
  }

  .ishidden {
    display: none;
  }
}