.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  color: white;
  padding: 1%;
  background-color: black;
}


.title {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.title p {
  font-size: 25px; 
  font-family: "Merriweather", "Open Sans", serif;

  font-weight: bolder;
  /* background-color: red; */
  width: 100%;
}
.book {
  position: absolute;
  top: 10%; 
  width: 60px;
  left: 5%;
  transform: translateX(50%);
  animation: fall 1.5s ease-in forwards;
  border-radius: 10px;
}

@keyframes fall {
  0% {
    top: -150px;
    transform: translateX(-50%) rotate(0deg);
  }
  80% {
    top: 1vh;
    transform: translateX(-50%) rotate(15deg);
  }
  100% {
    top: 2vh;
    transform: translateX(-50%) rotate(0deg);
  }
}


.rightnavbar {
  width: 69%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height:  100%;
}

.divsearch {
  height: 100%;
  width: 50%;
}

.divsearch .search {
  height: 70%;
  width: 100%;
  border-radius: 25px;
  background-color: #ffffff62;
  border: none;
  padding: 5%;
  margin: 1%;
  font-size: 18 px;
  font-family: 'Courier New', Courier, monospace;
  color: black;
  outline: none;
} 
.divsearch .search:hover {
   background-color: rgb(255, 255, 255);
   cursor: pointer;
}


.navbar-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px; 
  font-family: "Merriweather", "Open Sans", serif;
  font-weight: bolder;
}


.button-account {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  transition: 0.3s;
}


.signup-btn {
  background-color: #007bff;
  color: white;
}

.signup-btn:hover {
  background-color: #0056b3;
}

.signin-btn {
  background-color: #007bff;
  color: white;
}

.signin-btn:hover {
  background-color: #0056b3;
}
