.divComment {
    height: auto;
    max-height: 70vh;
    width: 100%;
    background-color: rgb(1, 1, 44);
    cursor: pointer;
    user-select: none;
}



.divComment::-webkit-scrollbar {
    width: 4px;
}

.divComment::-webkit-scrollbar-track {
    border-radius: 10px;
}

.divComment::-webkit-scrollbar-thumb {
    background: rgb(1, 94, 122);
    border-radius: 10px;

    border: 2px solid transparent;
}

.divComment::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.9);
}


.commenttitle {
    display: flex;
    justify-content: start;
    padding: 10px;
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;

}

.commenttitle span {
    padding-left: 10px;
    color: rgb(182, 182, 182);
    font-size: 18px;
    font-weight: 600;
}


.commentuser {
    margin-top: 30px;
    display: flex;
    align-items: center;
    height: auto;
    padding-left: 20px;
    cursor: pointer;
    position: relative;
}

.imgcreatblog {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-right: 15px;

    object-fit: contain;

    position: relative;
    z-index: 100;
}





.comment-fieldd {
    display: inline-block;
    max-width: 100%;
    min-width: 50%;
    padding: 10px;
    border-radius: 15px;
    background-color: #535252;
    color: aliceblue;
    word-wrap: break-word;
    text-align: start;
}

.divComment {
    display: flex;
    flex-direction: column;
}

.comments-list {
    overflow-y: auto;
    max-height: 70vh;
}

.comments-list::-webkit-scrollbar {
    width: 4px;
}

.comments-list::-webkit-scrollbar-track {
    border-radius: 10px;
}

.comments-list::-webkit-scrollbar-thumb {
    background: rgb(1, 94, 122);
    border-radius: 10px;

    border: 2px solid transparent;
}

.comments-list::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.9);
}

.comment-form {
    background-color: rgb(1, 1, 44);
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-group {
    width: 80%;
}

.inputComment {
    border-radius: 15px;
    color: white !important;
    border: none;
    box-shadow: none;
    text-align: start;
    padding: 8px;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: rgb(1, 1, 44);
    border-radius: 15px;
    border-top: 2px solid rgb(48, 1, 109);
    border-bottom: 2px solid rgb(48, 1, 109);
}

.mat-form-field.mat-focused .mat-form-field-outline {
    color: rgb(100, 149, 237) !important;
}

.mat-form-field.mat-focused .mat-form-field-label {
    color: rgb(100, 149, 237) !important;
}



::ng-deep .mat-mdc-text-field-wrapper {
    background: linear-gradient(135deg, #0a0f2c, #05081a) !important;
    border-radius: 16px !important;
}

::ng-deep .mat-mdc-form-field-flex {
    background: transparent !important;
}


.commentuserbbottom {
    color: gray;
    margin-top: 25px;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}


.commentuserbbottom span {
    margin-left: 10px;
}







.noContent {

    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;

    color: rgb(172, 172, 172);
}



.noContent-text {
    font-size: 20px;
    font-weight: 700;
}

.noContent-subtext {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}



.observer {
    height: 2px;
    width: 100%;
}


.creatbyAndComment {
    height: auto;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.creatorcomment {
    text-align: start;
    color: blue;
    color: gray;
    cursor: pointer;
}


@media (max-width: 1100px) {

    .comment-form {
        margin-bottom: 15px;
        margin-top: 10px;
    }
}


@media (max-width: 900px) {

    .commenttitle {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .commenttitle span {
        padding-left: 10px;
        color: rgb(182, 182, 182);
        font-size: 15px;
        font-weight: 600;
    }





    .creatbyAndComment {
        max-width: 85%;
        margin-right: 5px;
    }




    .comment-fieldd {
        display: inline-block;
        max-width: 100%;
        padding: 10px;
        border-radius: 15px;
        background-color: #535252;
        color: aliceblue;
        text-align: start;
    }




    .noContent-text {
        font-size: 16px;
        font-weight: 500;
    }

    .noContent-subtext {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 20px;
    }



}