<div class="post-container">
  <div class="post-header"></div>

  <ng-container *ngIf="blogs$ | async as blogs; else loading">
    <div *ngIf="blogs.length > 0" class="post-list">
      <app-card-blog
        *ngFor="let blog of blogs; trackBy: trackById"
        [blog]="blog">
      </app-card-blog>
    </div>

    <div *ngIf="blogs.length === 0" class="noContent">
      <div>
        <p class="noContent-text">Nothing here yet 👀</p>
        <span class="noContent-subtext">Create a post to get started</span>
      </div>
      <img class="noContent-img" src="./../../assets/images/noContent.svg" alt="">
    </div>
  </ng-container>

  <ng-template #loading>
    <p>Loading blogs ...</p>
  </ng-template>
</div>
