body {
    background: linear-gradient(to bottom,  #043c52, #96989c); 
    /* background-image: url("./app/../../public/img6.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    overflow: hidden;

    height: 100vh;
}