.register {
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 15px;
}
h2 {
  text-align: center;
  color: aliceblue;
  font-size: 35px;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
}

.input-group {
  display: flex;
  justify-content: center;
}

.input-group input {
  width: 80%;
  border: none;                
  border-bottom: 2px solid #fff; 
  background: transparent;      
  padding: 8px 0;                
  color: #fff;                  
  font-size: 18px;
  outline: none;                 
  transition: border-color 0.3s;
  text-align: center;
}

.input-group  input:focus , .input-group1 input:focus {
  border-bottom-color: #00bfff;
}


.input-group1  {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-group1 input {
  width: 80%;
  border: none;                
  border-bottom: 2px solid #fff; 
  background: transparent;      
  padding: 8px 0;                
  color: #fff;                  
  font-size: 18px;
  outline: none;                 
  transition: border-color 0.3s;
  margin-right: 5px;
  margin-left: 5px;
  text-align: center;
}

.btn-SignUp {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  height: 40px;

    width: 30%;
}

.SignUp {
  width: 100%;
  border-radius: 8px;
  background-color: #0f275a;
  font-size: 16px;
  color: aliceblue;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
}

.SignUp:hover {
  background-color: #00bfff;
}


.forlogin {
  color: aliceblue;
  display: flex;
  justify-content: center;
}




.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  user-select: none;
  font-size: 18px;
}


.circle {
  width: 40px;         
  height: 20px;          
  border-radius: 50%;      
  display: flex;
  border-top: #ffffff solid;
  justify-content: center;
  align-items: center;
    position: relative;  
}



.circle2 {
  width: 10px;         
  height: 6px;          
  border-radius: 50%;      
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: #ffffff;
  border-top: #ffffff;
  background-color: #ffffff;
  margin-bottom: 5px;
}

.line-container {
  position: absolute;
  top: 0;           
  left: 25%;        
  width: 75%;      
  height: 2px;
  background-color: #ffffff;
  transform: rotate(30deg);
  transform-origin: top left; 
}

.line-container.active {  
  width: 0%;  
}

.forloginbtn {
  color: #00bfff;
  border-bottom: solid #00bfff 0.5px;
}

.forloginbtn:hover {
  color: #5b6ccc;
  border-bottom: solid #5b6ccc 0.5px;
}



.rules {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: rgba(255, 255, 255, 0.1);
  padding: 8px 10px;
  border-radius: 10px;
  font-size: 15px;
  color: #fff;
  backdrop-filter: blur(6px);
}

.rules label {
  display: flex;
  align-items: center;
  gap: 8px;
}

.rules input[type="checkbox"] {
  accent-color: #00b894;
  transform: scale(1.1);
}

.rules strong {
  color: #00b894;
}

